/*select option[value="pt"] { background-image:url(./../img/flags/4x3/pt.svg);   }*/
/*select#language option[value="br"] { background-image:url(./../img/flags/4x3/br.svg);   }*/
/*select#language option[value="gb"] { background-image:url(./../img/flags/4x3/gb.svg);   }*/
