/**
 * Mobster v1.0.0
 * Copyright 2020 by MACode ID
 * Site: www.macodeid.com
 * License under CC 4.0 ()
 */
body {
  position: relative;
  font-weight: 400;
  font-family: "Quicksand", helvetica, arial, sans-serif;
  line-height: 1.7;
}

a {
  color: #3D58F3;
}

a:hover {
  color: #7b50e6;
}

.fs-vsmall {
  font-size: 12px !important;
}

.fs-small {
  font-size: 14px !important;
}

.fs-normal {
  font-size: 16px !important;
}

.fs-large {
  font-size: 18px !important;
}

.fs-vlarge {
  font-size: 20px !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-normal {
  font-style: normal !important;
  font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.25;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.75rem;
}

h5,
.h5 {
  font-size: 1.3125rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  border-color: #E4E1EB;
}

.no-transform {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Margin */
.m-6 {
  margin: 4rem !important;
}

.mt-6,
.my-6 {
  margin-top: 4rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 4rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 4rem !important;
}

.m-7 {
  margin: 4.5rem !important;
}

.mt-7,
.my-7 {
  margin-top: 4.5rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 4.5rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 4.5rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 4.5rem !important;
}

.m-8 {
  margin: 5rem !important;
}

.mt-8,
.my-8 {
  margin-top: 5rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 5rem !important;
}

.mb-8,
.my-8 {
  margin-bottom: 5rem !important;
}

.ml-8,
.mx-8 {
  margin-left: 5rem !important;
}

@media (min-width: 576px) {
  .m-sm-6 {
    margin: 4rem !important;
  }

  .mt-sm-6,
  .my-sm-6 {
    margin-top: 4rem !important;
  }

  .mr-sm-6,
  .mx-sm-6 {
    margin-right: 4rem !important;
  }

  .mb-sm-6,
  .my-sm-6 {
    margin-bottom: 4rem !important;
  }

  .ml-sm-6,
  .mx-sm-6 {
    margin-left: 4rem !important;
  }

  .m-sm-7 {
    margin: 4.5rem !important;
  }

  .mt-sm-7,
  .my-sm-7 {
    margin-top: 4.5rem !important;
  }

  .mr-sm-7,
  .mx-sm-7 {
    margin-right: 4.5rem !important;
  }

  .mb-sm-7,
  .my-sm-7 {
    margin-bottom: 4.5rem !important;
  }

  .ml-sm-7,
  .mx-sm-7 {
    margin-left: 4.5rem !important;
  }

  .m-sm-8 {
    margin: 5rem !important;
  }

  .mt-sm-8,
  .my-sm-8 {
    margin-top: 5rem !important;
  }

  .mr-sm-8,
  .mx-sm-8 {
    margin-right: 5rem !important;
  }

  .mb-sm-8,
  .my-sm-8 {
    margin-bottom: 5rem !important;
  }

  .ml-sm-8,
  .mx-sm-8 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 768px) {
  .m-md-6 {
    margin: 4rem !important;
  }

  .mt-md-6,
  .my-md-6 {
    margin-top: 4rem !important;
  }

  .mr-md-6,
  .mx-md-6 {
    margin-right: 4rem !important;
  }

  .mb-md-6,
  .my-md-6 {
    margin-bottom: 4rem !important;
  }

  .ml-md-6,
  .mx-md-6 {
    margin-left: 4rem !important;
  }

  .m-md-7 {
    margin: 4.5rem !important;
  }

  .mt-md-7,
  .my-md-7 {
    margin-top: 4.5rem !important;
  }

  .mr-md-7,
  .mx-md-7 {
    margin-right: 4.5rem !important;
  }

  .mb-md-7,
  .my-md-7 {
    margin-bottom: 4.5rem !important;
  }

  .ml-md-7,
  .mx-md-7 {
    margin-left: 4.5rem !important;
  }

  .m-md-8 {
    margin: 5rem !important;
  }

  .mt-md-8,
  .my-md-8 {
    margin-top: 5rem !important;
  }

  .mr-md-8,
  .mx-md-8 {
    margin-right: 5rem !important;
  }

  .mb-md-8,
  .my-md-8 {
    margin-bottom: 5rem !important;
  }

  .ml-md-8,
  .mx-md-8 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 992px) {
  .m-lg-6 {
    margin: 4rem !important;
  }

  .mt-lg-6,
  .my-lg-6 {
    margin-top: 4rem !important;
  }

  .mr-lg-6,
  .mx-lg-6 {
    margin-right: 4rem !important;
  }

  .mb-lg-6,
  .my-lg-6 {
    margin-bottom: 4rem !important;
  }

  .ml-lg-6,
  .mx-lg-6 {
    margin-left: 4rem !important;
  }

  .m-lg-7 {
    margin: 4.5rem !important;
  }

  .mt-lg-7,
  .my-lg-7 {
    margin-top: 4.5rem !important;
  }

  .mr-lg-7,
  .mx-lg-7 {
    margin-right: 4.5rem !important;
  }

  .mb-lg-7,
  .my-lg-7 {
    margin-bottom: 4.5rem !important;
  }

  .ml-lg-7,
  .mx-lg-7 {
    margin-left: 4.5rem !important;
  }

  .m-lg-8 {
    margin: 5rem !important;
  }

  .mt-lg-8,
  .my-lg-8 {
    margin-top: 5rem !important;
  }

  .mr-lg-8,
  .mx-lg-8 {
    margin-right: 5rem !important;
  }

  .mb-lg-8,
  .my-lg-8 {
    margin-bottom: 5rem !important;
  }

  .ml-lg-8,
  .mx-lg-8 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-6 {
    margin: 4rem !important;
  }

  .mt-xl-6,
  .my-xl-6 {
    margin-top: 4rem !important;
  }

  .mr-xl-6,
  .mx-xl-6 {
    margin-right: 4rem !important;
  }

  .mb-xl-6,
  .my-xl-6 {
    margin-bottom: 4rem !important;
  }

  .ml-xl-6,
  .mx-xl-6 {
    margin-left: 4rem !important;
  }

  .m-xl-7 {
    margin: 4.5rem !important;
  }

  .mt-xl-7,
  .my-xl-7 {
    margin-top: 4.5rem !important;
  }

  .mr-xl-7,
  .mx-xl-7 {
    margin-right: 4.5rem !important;
  }

  .mb-xl-7,
  .my-xl-7 {
    margin-bottom: 4.5rem !important;
  }

  .ml-xl-7,
  .mx-xl-7 {
    margin-left: 4.5rem !important;
  }

  .m-xl-8 {
    margin: 5rem !important;
  }

  .mt-xl-8,
  .my-xl-8 {
    margin-top: 5rem !important;
  }

  .mr-xl-8,
  .mx-xl-8 {
    margin-right: 5rem !important;
  }

  .mb-xl-8,
  .my-xl-8 {
    margin-bottom: 5rem !important;
  }

  .ml-xl-8,
  .mx-xl-8 {
    margin-left: 5rem !important;
  }
}

/* Padding */
.p-6 {
  padding: 4rem !important;
}

.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.pr-6,
.px-6 {
  padding-right: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.pl-6,
.px-6 {
  padding-left: 4rem !important;
}

.p-7 {
  padding: 4.5rem !important;
}

.pt-7,
.py-7 {
  padding-top: 4.5rem !important;
}

.pr-7,
.px-7 {
  padding-right: 4.5rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 4.5rem !important;
}

.pl-7,
.px-7 {
  padding-left: 4.5rem !important;
}

.p-8 {
  padding: 5rem !important;
}

.pt-8,
.py-8 {
  padding-top: 5rem !important;
}

.pr-8,
.px-8 {
  padding-right: 5rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 5rem !important;
}

.pl-8,
.px-8 {
  padding-left: 5rem !important;
}

@media (min-width: 576px) {
  .p-sm-6 {
    padding: 4rem !important;
  }

  .pt-sm-6,
  .py-sm-6 {
    padding-top: 4rem !important;
  }

  .pr-sm-6,
  .px-sm-6 {
    padding-right: 4rem !important;
  }

  .pb-sm-6,
  .py-sm-6 {
    padding-bottom: 4rem !important;
  }

  .pl-sm-6,
  .px-sm-6 {
    padding-left: 4rem !important;
  }

  .p-sm-7 {
    padding: 4.5rem !important;
  }

  .pt-sm-7,
  .py-sm-7 {
    padding-top: 4.5rem !important;
  }

  .pr-sm-7,
  .px-sm-7 {
    padding-right: 4.5rem !important;
  }

  .pb-sm-7,
  .py-sm-7 {
    padding-bottom: 4.5rem !important;
  }

  .pl-sm-7,
  .px-sm-7 {
    padding-left: 4.5rem !important;
  }

  .p-sm-8 {
    padding: 5rem !important;
  }

  .pt-sm-8,
  .py-sm-8 {
    padding-top: 5rem !important;
  }

  .pr-sm-8,
  .px-sm-8 {
    padding-right: 5rem !important;
  }

  .pb-sm-8,
  .py-sm-8 {
    padding-bottom: 5rem !important;
  }

  .pl-sm-8,
  .px-sm-8 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 768px) {
  .p-md-6 {
    padding: 4rem !important;
  }

  .pt-md-6,
  .py-md-6 {
    padding-top: 4rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 4rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 4rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 4rem !important;
  }

  .p-md-7 {
    padding: 4.5rem !important;
  }

  .pt-md-7,
  .py-md-7 {
    padding-top: 4.5rem !important;
  }

  .pr-md-7,
  .px-md-7 {
    padding-right: 4.5rem !important;
  }

  .pb-md-7,
  .py-md-7 {
    padding-bottom: 4.5rem !important;
  }

  .pl-md-7,
  .px-md-7 {
    padding-left: 4.5rem !important;
  }

  .p-md-8 {
    padding: 5rem !important;
  }

  .pt-md-8,
  .py-md-8 {
    padding-top: 5rem !important;
  }

  .pr-md-8,
  .px-md-8 {
    padding-right: 5rem !important;
  }

  .pb-md-8,
  .py-md-8 {
    padding-bottom: 5rem !important;
  }

  .pl-md-8,
  .px-md-8 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 992px) {
  .p-lg-6 {
    padding: 4rem !important;
  }

  .pt-lg-6,
  .py-lg-6 {
    padding-top: 4rem !important;
  }

  .pr-lg-6,
  .px-lg-6 {
    padding-right: 4rem !important;
  }

  .pb-lg-6,
  .py-lg-6 {
    padding-bottom: 4rem !important;
  }

  .pl-lg-6,
  .px-lg-6 {
    padding-left: 4rem !important;
  }

  .p-lg-7 {
    padding: 4.5rem !important;
  }

  .pt-lg-7,
  .py-lg-7 {
    padding-top: 4.5rem !important;
  }

  .pr-lg-7,
  .px-lg-7 {
    padding-right: 4.5rem !important;
  }

  .pb-lg-7,
  .py-lg-7 {
    padding-bottom: 4.5rem !important;
  }

  .pl-lg-7,
  .px-lg-7 {
    padding-left: 4.5rem !important;
  }

  .p-lg-8 {
    padding: 5rem !important;
  }

  .pt-lg-8,
  .py-lg-8 {
    padding-top: 5rem !important;
  }

  .pr-lg-8,
  .px-lg-8 {
    padding-right: 5rem !important;
  }

  .pb-lg-8,
  .py-lg-8 {
    padding-bottom: 5rem !important;
  }

  .pl-lg-8,
  .px-lg-8 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .p-xl-6 {
    padding: 4rem !important;
  }

  .pt-xl-6,
  .py-xl-6 {
    padding-top: 4rem !important;
  }

  .pr-xl-6,
  .px-xl-6 {
    padding-right: 4rem !important;
  }

  .pb-xl-6,
  .py-xl-6 {
    padding-bottom: 4rem !important;
  }

  .pl-xl-6,
  .px-xl-6 {
    padding-left: 4rem !important;
  }

  .p-xl-7 {
    padding: 4.5rem !important;
  }

  .pt-xl-7,
  .py-xl-7 {
    padding-top: 4.5rem !important;
  }

  .pr-xl-7,
  .px-xl-7 {
    padding-right: 4.5rem !important;
  }

  .pb-xl-7,
  .py-xl-7 {
    padding-bottom: 4.5rem !important;
  }

  .pl-xl-7,
  .px-xl-7 {
    padding-left: 4.5rem !important;
  }

  .p-xl-8 {
    padding: 5rem !important;
  }

  .pt-xl-8,
  .py-xl-8 {
    padding-top: 5rem !important;
  }

  .pr-xl-8,
  .px-xl-8 {
    padding-right: 5rem !important;
  }

  .pb-xl-8,
  .py-xl-8 {
    padding-bottom: 5rem !important;
  }

  .pl-xl-8,
  .px-xl-8 {
    padding-left: 5rem !important;
  }
}

/* Width and Height */
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .h-md-25 {
    height: 25% !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .h-md-100 {
    height: 100% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }
}

.btn {
  padding: 10px 24px;
  border-width: 2px;
}

.btn-primary {
  color: #ffffff;
  background-color: #3D58F3;
  border-color: transparent !important;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #1737f1;
  box-shadow: 0 4px 12px rgba(61, 88, 243, 0.3);
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #1737f1;
  box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #556df4;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #3D58F3;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary {
  color: #ffffff;
  background-color: #A52EFF;
  border-color: transparent !important;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #9305ff;
  box-shadow: 0 4px 12px rgba(165, 46, 255, 0.3);
}

.btn-secondary:focus {
  color: #ffffff;
  background-color: #9305ff;
  box-shadow: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #b048ff;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #A52EFF;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-success {
  color: #ffffff;
  background-color: #0ABF9E;
  border-color: transparent !important;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #08987e;
  box-shadow: 0 4px 12px rgba(10, 191, 158, 0.3);
}

.btn-success:focus {
  color: #ffffff;
  background-color: #08987e;
  box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #0bd7b2;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: #0ABF9E;
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-warning {
  color: #ffffff;
  background-color: #E89E09;
  border-color: transparent !important;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #c18307;
  box-shadow: 0 4px 12px rgba(232, 158, 9, 0.3);
}

.btn-warning:focus {
  color: #ffffff;
  background-color: #c18307;
  box-shadow: none;
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #f6ab15;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: #E89E09;
  box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info {
  color: #ffffff;
  background-color: #4699F8;
  border-color: transparent !important;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #1f83f7;
  box-shadow: 0 4px 12px rgba(70, 153, 248, 0.3);
}

.btn-info:focus {
  color: #ffffff;
  background-color: #1f83f7;
  box-shadow: none;
}

.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #5fa7f9;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: #4699F8;
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-danger {
  color: #ffffff;
  background-color: #F13057;
  border-color: transparent !important;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #e8103c;
  box-shadow: 0 4px 12px rgba(241, 48, 87, 0.3);
}

.btn-danger:focus {
  color: #ffffff;
  background-color: #e8103c;
  box-shadow: none;
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #f3486a;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #F13057;
  box-shadow: none;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-dark {
  color: #ffffff;
  background-color: #383340;
  border-color: transparent !important;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #242129;
  box-shadow: 0 4px 12px rgba(56, 51, 64, 0.3);
}

.btn-dark:focus {
  color: #ffffff;
  background-color: #242129;
  box-shadow: none;
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: #ffffff;
  background-color: #443e4e;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #383340;
  box-shadow: none;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-light {
  color: #5F5A68;
  background-color: #F0EEF5;
  border-color: transparent !important;
}

.btn-light:hover {
  color: #5F5A68;
  background-color: #d9d4e6;
  box-shadow: 0 4px 12px rgba(240, 238, 245, 0.3);
}

.btn-light:focus {
  color: #5F5A68;
  background-color: #d9d4e6;
  box-shadow: none;
}

.btn-light.disabled,
.btn-light:disabled {
  color: #5F5A68;
  background-color: #fefefe;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
  color: #5F5A68;
  background-color: #F0EEF5;
  box-shadow: none;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: none;
}